.App {
  text-align: center;
  background-color: lightblue;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.App h1 {
  color: purple;
}

.App button {
  padding: 1vw;
  margin: 1vw;
  border-radius: 5px;
}

.App button:hover {
background-color:lightgreen;
}